
html, body, .viewport {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
html {
	margin-top: -50px;
}
body {
	margin-top: 50px;
	position: relative;
}

.viewport {
	position: fixed;
	top: 0;
	overflow: scroll;
	/*pointer-events: none;*/
	
	box-sizing: border-box;
	//border: 2px solid #000;
}

.scroll-trigger-container {
	overflow: scroll;
	z-index: 1000;
}	
.scroll-trigger {
	width: 100%;
	height: 400vw;  // fallback - should be set in js
}

#slideshow {
	height: 100%;
	width: 400%;
	display: flex;

	background: #eee;
	border-right: 2px solid #ff0000;

	/*pointer-events: none;*/
}

.slide {
	content: "aaa";
	width: 25%;
	height: 100%;

	border-right: 1px solid #000;
}
.slide:not(:first-of-type) {
	//margin-left: -5px;
}

/*
.slide:first-of-type {
	background-color: purple;
}
.slide:nth-of-type(2) {
	background-color: orange;
}
.slide:nth-of-type(3) {
	background-color: pink;
}
.slide:nth-of-type(4) {
	background-color: olive;
}

*/


