
* {
	box-sizing: border-box;
}

html, body, .viewport {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	/*font-family: "Cousine", serif;*/
	font-family: "Cutive Mono", monospace, sans-serif;
	font-size: 24px;
}

.viewport {
	position: fixed;
	box-sizing: border-box;
	/*background: #eee;*/
	background: linear-gradient(35deg, rgba(55,137,202, .2), rgba(55,137,202, .2) 50%, #3885c991 50%);
}

#slideshow {
	height: 100%;
	width: 400%;
	display: flex;
	position: relative;
}

.slide {
	content: "aaa";
	width: 25%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.slide:first-of-type {
	/*background: linear-gradient(35deg, #dedda7, #dedda7 50%, #b9c36a 50%);*/
}

.slide:nth-of-type(2) {
	/*background: linear-gradient(65deg, #d0b9d9, #d0b9d9 35%, #ad86bd 35%); */
}

.slide:nth-of-type(3) {
	/*background: linear-gradient(55deg, #b4bcd6, #b4bcd6 60%, #8692bd 60%);*/
}

.text-container {
	width: 80% ;
	margin: 0 auto;
	text-align: justify;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer {
	display: block;
	width: 100%;
	margin-top: 50px;
	text-align: right;
	padding-right: 10%;
}


h1, h2 {
	padding: 0 15px;
	margin: 0;
	font-weight: normal;
	color: #2d2d2d;
}

h1 {
	font-size: 1.8em;
	line-height: 1.8em;
	width: 100%;
	z-index: 10;
}

h1.site-title {
	font-size: 2.4em;
}

@media screen and ( max-width: 490px ) {
	h1 {
		font-size: 1.8em;
		line-height: 1.3em;
	}
}

p {
	font-size: 1em;
	line-height: 1em;
	padding: 15px;
	margin: 0;
}

a {	
	color: #222;
	cursor: default;
	text-decoration: none;
}
a:hover{
	cursor: default;
	/*text-decoration: underline;*/
	/*text-decoration-color: #fff;*/
	/*color: #d91cab;*/
	color: rgba( 250, 0, 0, .56);
	animation-duration: 3s;
	animation-iteration-count: infinite;
	/*animation-name: rainbowize;*/
}

small {
	font-size: .6em;
	padding: 15px;
}

.left {
	width: 60%;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}


.btn {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	position: absolute;
	width: 40px;
	height: 40px;
	top: calc(50% - 20px);
	cursor: default;
	z-index: 100;
	padding: 0 10px;
}
.btn svg path {
	/*stroke: #545454;*/
	/*stroke: #d91cab;*/
	stroke: rgba( 250, 0, 0, .56);
	stroke-width: 10;
}
#scroll-left {
	left: 15px;
	transform: rotate(180deg);
	display: none;
}
#scroll-right {
	right: 15px;
}
#scroll-left, #scroll-right {
	animation-duration: 3s;
	animation-iteration-count: infinite;
	/*animation-name: rainbowize;*/
}

#scroll-right:hover, #scroll-left:hover {
	animation-duration: .7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
#scroll-right:hover {
	animation-name: bounce_right;
}
#scroll-left:hover {
	animation-name: bounce_left;
}

@keyframes bounce_right {
	from {
		right: 15px;
	}
	to {
		right: 5px;
	}
}

@keyframes bounce_left {
	from {
		left: 15px;
	}
	to {
		left: 5px;
	}
}

@keyframes rainbowize {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

.illustration.hidden {
	visibility: hidden ;
}

/* last page links */
a + a {
	margin-left: 40px;
}

/* * * drawings * * */
#laptop {
	width: calc(985px * .22);
	height: auto;
	position: absolute;
	top: calc(50% + 10px);
	left: calc(50% - 100px);
	z-index: 10;
}

#main-figure {
	width: calc(980px * .22);
	height: auto;
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% + 70px);
	z-index: 1;
}

#coffee-mug {
	width: calc(281px * .22);
	height: auto;
	position: absolute;
	top: calc(50% + 90px);
	left: calc(50% - 180px);
	z-index: 20;

	/*filter: hue-rotate(100deg);*/
}

#coffee-mug .outline path {
	/*stroke: red;*/
}

#notebook {
	width: calc(979px * .22);
	height: auto;
	position: absolute;
	top: calc(50% + 150px);
	left: calc(50% + 150px);
	z-index: 20;
}

#bookcase {
	width: calc(1250px * .22);
	position: absolute;
	top: calc(50% - 310px);
	left: calc(50% + 200px);
	z-index: -10;
}

#window {
	width: calc(1842px * .22);
	position: absolute;
	top: calc(50% - 335px);
	left: calc(50% - 400px);
	z-index: -10;
}

#customer {
	//width: calc(2510px * .22);
	width: calc(1270px * .22);
	position: absolute;
	top: calc(50% - 280px);
	left: calc(50% - 400px);
	z-index: 1;
}

#computer-towers {
	width: calc(1300px * .22);
	position: absolute;
	top: calc(50% - 180px);
	left: calc(50% - 200px);
	z-index: -1;
}

#teacher {
	width: calc(2024px * .22);
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% + 10px);
	z-index: -1;
}

#students {
	width: calc(1871px * .22);
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 450px);
	//z-index: 1;
	z-index: 20;

	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#whiteboard {
	width: calc(1148px * .22);
	position: absolute;
	top: calc(50% - 450px);
	//right: 0;
	left: calc(50% + 300px);
	z-index: -5;
}



/* MEDIUM SCREENS */
@media screen and ( max-width: 730px ) {
	
	#laptop {
		width: calc(985px * .18);
	}

	#main-figure {
		width: calc(980px * .18);
		top: calc(50% - 120px);
		left: calc(50% + 20px);
	}

	#coffee-mug {
		width: calc(281px * .18);
		top: calc(50% + 70px);
		left: calc(50% - 180px);
	}

	#notebook {
		width: calc(979px * .18);
		top: calc(50% + 110px);
		left: calc(50% + 50px);
	}

	#bookcase {
		width: calc(1250px * .18);
		left: calc(50% + 90px);
	}

	#window {
		width: calc(1842px * .18);
		left: calc(50% - 300px);
	}


	#customer {
		width: calc(1270px * .18);
		top: calc(50% - 200px);
		left: calc(50% - 250px);
	}

	#computer-towers {
		width: calc(1300px * .18);
		top: calc(50% - 180px);
		left: calc(50% - 10px);
	}

	#teacher {
		width: calc(1964px * .18);
		top: calc(50% - 250px);
		left: calc(50% + 10px);
	}

	#students {
		width: calc(1871px * .18);
		top: calc(50% - 10px);
		left: calc(50% - 320px);
	}

	#whiteboard {
		width: calc(1148px * .18);
		top: calc(50% - 450px);
		left: calc(50% + 300px);
	}
}

/* SMALL SCREENS */
@media screen and ( max-width: 450px ) {
	
	#laptop {
		left: calc(50% - 50px);
	}

	#coffee-mug {
		left: calc(50% - 110px);
	}

	#notebook {
		top: calc(50% + 130px);
	}

	#customer {
		left: calc(50% - 230px);
	}

	#students {
		left: calc(50% - 250px);
	}
}





