
* {
	box-sizing: border-box;
}

html, body, .viewport {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.viewport {
	position: fixed;
	box-sizing: border-box;
	background: #eee;
	//border: 2px solid #000;
}

#slideshow {
	height: 100%;
	width: 400%;
	display: flex;
	position: relative;
}

.slide {
	content: "aaa";
	width: 25%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	//border-right: 1px solid #000;
}


h1, p {
	font-family: Helvetica, sans-serif;
	padding: 0 15px;
	margin: 0;
	//position: absolute;
	//top: 0;
}

h1 {
	margin-top: 60px;
	font-size: 2em;
	line-height: 2em;
	width: 100%;
	z-index: 10;
}
h1.right {
	text-align: right;
}

p.left {
	width: 60%;
}

.btn {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	position: absolute;
	top: 50%;
	cursor: default;
	z-index: 100;

	//background: cyan;
	padding: 0 10px;
}
#scroll-left {
	left: 15px;
	display: none;
}
#scroll-right {
	right: 15px;
}

.illustration.hidden {
	visibility: hidden ;
}

/* * * drawings * * */
#laptop {
	width: calc(985px * .22);
	position: absolute;
	//top: 55%;
	top: calc(50% + 10px);
	//left: 25%;
	//left: 40%;
	left: calc(50% - 100px);
	z-index: 10;
}

#main-figure {
	width: calc(980px * .22);
	position: absolute;
	//top: 29%;
	top: calc(50% - 150px);
	//left: 41%;
	//left: 56%;
	left: calc(50% + 70px);
	z-index: 1;
}

#coffee-mug {
	width: calc(281px * .22);
	position: absolute;
	//top: 65%;
	top: calc(50% + 90px);
	//left: 18%;
	//left: 32%;
	left: calc(50% - 180px);
	z-index: 20;

	//filter: hue-rotate(100deg);
}

#notebook {
	width: calc(979px * .22);
	position: absolute;
	//top: 70%;
	top: calc(50% + 150px);
	//left: 55%;
	//left: 65%;
	left: calc(50% + 150px);
	z-index: 20;
}

#bookcase {
	width: calc(1250px * .22);
	position: absolute;
	//top: 5%;
	top: calc(50% - 310px);
	//left: 65%;
	left: calc(50% + 200px);
	z-index: -1;
}

#window {
	width: calc(1842px * .22);
	position: absolute;
	//top: 2%;
	top: calc(50% - 335px);
	//left: 6%;
	left: calc(50% - 400px);
	z-index: -1;
}

#customer {
	//width: calc(2510px * .22);
	width: calc(1270px * .22);
	position: absolute;
	//top: 10%;
	top: calc(50% - 280px);
	//left: 10%;
	left: calc(50% - 400px);
	z-index: 1;
}

#computer-towers {
	width: calc(1300px * .22);
	position: absolute;
	//top: 25%;
	top: calc(50% - 180px);
	//left: 10%;
	left: calc(50% - 200px);
	z-index: -1;
}

/*
#teaching {
	width: calc(4366px * .22);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
*/

#teacher {
	width: calc(1964px * .22);
	position: absolute;
	//top: 0;
	top: calc(50% - 300px);
	//right: 0;
	left: calc(50% + 10px);
	z-index: 1;
}

#students {
	width: calc(1871px * .22);
	position: absolute;
	//top: 45%;
	top: calc(50% - 10px);
	//left: 5%;
	left: calc(50% - 450px);
	z-index: 1;

	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#whiteboard {
	width: calc(1148px * .22);
	position: absolute;
	top: calc(50% - 450px);
	//right: 0;
	left: calc(50% + 300px);
	z-index: -1;
}




